{% extends "gestion/base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1 class="display-4 glow">WOEZON,</h1>
        <p>Bienvenue à la bibliothèque AKPLANOU.</p>
        <p><a role="button" href="{% url 'dashboard' %}" class="btn btn-primary btn-lg"> Let's goo>> </a></p>
    </div>
</div>

<div class="container">
    <div class="row">
      <div class="col">
        <h2>Pourquoi Lire ?</h2>
        <p>Un peu de charabia</p>
      </div>
      <div class="col">
        <h2>Bienfaits</h2>
        <ul>
            <li>Premier point</li>
            <li>Second point</li>
        </ul>
      </div>
      <div class="col">
        <h2>Pensée du jour</h2>
        <p>Encore du charabia</p>
      </div>
    </div>
    <hr>
</div>
</main>
<footer class="container">
    <p>@ royaume des livres 2025</p>
</footer>
{% endblock %}
