{% extends "gestion/base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1 class="display-4 glow" style="color: #4A90E2; text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); font-style: italic;">WOEZON,</h1>
        <p style="font-size: 1.5em; font-weight: bold; color: #333; background-color: #f9f9f9; padding: 10px; border-radius: 5px;">Bienvenue à la bibliothèque AKPLANOU.</p>
        <p><a role="button" href="{% url 'dashboard' %}" class="btn btn-primary btn-lg"> Let's goo>> </a></p>
    </div>
</div>

<div class="container">
    <div class="row">
      <div class="col">
        <h2>Pourquoi Lire ?</h2>
        <p>La lecture est une activité fondamentale qui enrichit notre esprit, développe notre imagination et élargit nos horizons. Elle nous permet d'acquérir de nouvelles connaissances, d'améliorer notre vocabulaire et notre capacité d'expression, tout en nous offrant un moyen d'évasion et de détente.</p>
      </div>
      <div class="col">
        <h2>Bienfaits</h2>
        <ul>
          <li>Réduction du stress</li>
          <li>Amélioration de la concentration</li>
          <li>Développement de l'imagination</li>
          <li>Amélioration de la mémoire</li>
          <li>Amélioration de la compréhension du monde</li>
          <li>Développement de l'esprit critique</li>
        </ul>
      </div>
      <div class="col">
        <h2>Pensée du jour</h2>
        <p>"La lecture est une porte ouverte sur un monde enchanté. Chaque livre est une nouvelle aventure qui nous transforme et nous élève. Aujourd'hui, osez franchir cette porte."</p>
      </div>
    </div>
    <hr>
</div>
</main>
<footer class="container">
    <p>@ royaume des livres 2025</p>
</footer>
{% endblock %}